{% extends "main.html" %}

{% block content %}

{% if page.edit_url %}
  <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
    {% include ".icons/material/pencil.svg" %}
  </a>
{% endif %}
{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
<p>Work on the GLAM Workbench is generously supported by <b>{{ page.meta.total_sponsors }} GitHub sponsors</b>:</p>
<ul style="list-style-type: None;">
{% for sponsor in page.meta.sponsors %}
    <li>
        <img style="vertical-align:middle; margin-right: 1rem;" src="{{sponsor.avatar}}" width=40 height=40 /><a href="{{sponsor.url}}">{{ sponsor.name }}</a>
    </li>
{% endfor %}
    <li>
        and {{ page.meta.private }} anonymous sponsors
    </li>
</ul>

<p>If you'd like to become a supporter, head to the <a href="https://github.com/sponsors/wragge">GitHub sponsors page</a>. Sponsorship tiers start at $1.00 a month.</p>

{% if page and page.meta %}
  {% if page.meta.git_revision_date_localized or
        page.meta.revision_date
  %}
    {% include "partials/source-date.html" %}
  {% endif %}
{% endif %}
{% endblock %}
{% block disqus %}
{% include "partials/integrations/disqus.html" %}

{% endblock %}
