img {border: 1px solid #D3D3D3}
.juniper-button {
    padding: 10px;
    cursor: pointer;
    background-color: #3f51b5;
    color: #ffffff;
}

.jp-OutputArea-output pre {
    background-color: #222222;
    color: #ffffff;
}
.image-in-list {
    margin-top: 1rem;
}

.csl-entry { margin-bottom: 1rem;}